/* styles.css */

/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 2rem;
    min-height: 100vh;
}

button {
    margin: 50px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
    transition: background-color 0.3s;
  }

#flaskMsg {
    text-align: center;
    color: rgb(0, 0, 0);
    margin: 50px;
    margin-bottom: 20px;
    text-align: left;
    max-width: 700px;
    font-size: 24px;
  }